## Mac OS
.DS_store

##npm packages
node_modules/

##webpack default output folder
dist/

## db config file
server/db/config.js

## generated CSV data
server/db/descriptions.csv
server/db/amenities.csv
server/db/houserules.csv

## new relic config file
newrelic.js

## artillery config
/server/controller/artillery.yml